/* box model hack*/

*{
    box-sizing: border-box; /* when calculating width, height  */
}


/*clear fix hack*/

.clearfix:after{ /* this put a dot invisible after, "." stops containers from collapsing by using floats */
    content: ".";
    display:block;
    clear:both;
    visibility: hidden;
    line-height:0;
    height:0;
}

.clear{
    clear:both;

}



/*BASE style*/

header, footer{
height:100px;
border:1px solid black;
clear:both; /* by using clear   */
}

section{
    height: 200px;
    width: 33.333%;
    border:1px solid black;
    float: left;
}


.bottom{
    width:50%;
}


/* addtional style*/

