/* PLease make only Rhino and Zebra Blue*/

.fourLegs{
    color:blue;
}

/* PLease make only hufflepuff gold*/
#bestHouse{
    color:gold;

}

/*please select duck with the highest level of specificty possible*/
section + .top section.middle+ article.areDucksDinosaurs .likesToQuak{
color:purple !important;
}
/* please select rhino with the highste level of sepecifocty possible*/